@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');
@import url(/estilos/normalice.css);
:root{
    --menuBG : #252830;
    --backgroundColor:#fddb30;
    --bodyBG:  #ffffff;
    --fontColor: #131417;
    --fontColorMenu: #ffffff;
    --indiceColor : #131417;
    --fuenteParrafos: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    --fuenteTitulos:'Heebo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}

h1{
    padding-bottom: 20px;
    font-family: var(--fuenteTitulos);
    letter-spacing: 0.5px;
}

h2{
    font-family: var(--fuenteTitulos);
    letter-spacing: 0.5px;
}

p,li{
    font-family: var(--fuenteParrafos);
    letter-spacing: 0.5px;
}

        /* Organizar paginas INICIO*/
.Pagina{
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 80px auto;
}
/* Menu secundario */
.menu-1{
    grid-row: 1;
    grid-column: 1/ 3;
}
/* Menu secundario */
.menu-2{
    grid-row: 2;
    grid-column: 1 / 2;
    margin: 20px 20px;
}
/* contenido principal */
.info{
    grid-row: 2;
    grid-column: 2/3;
    padding: 20px;
}

        /* Organizar paginas FIN*/

/* Menu prinicipal INICIO*/
.menu-principal{
    /* border: 2px solid orange; */
    background: var(--menuBG);
}

.menu-principal__contenido{
    display: flex;
    justify-content: end;
    list-style: none;
    height: 80px;
    align-items: center;
    padding-right: 40px;
    text-align: center;
}

.menu-principal__item{
    padding-left: 25px;
    text-align: center;
}

 .menu-principal ul li:first-child{
    font-weight: 800;
}

.menu-principal__item a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0px 10px 5px 10px;
}

.menu-principal__item a:hover{
    color: rgb(213, 213, 213)
}
/* Menu prinicipal FIN*/

/* Menu secundario INICIO*/
.menu-secundario{
    background: var(--menuBG);
    padding: 10px;
    /* border: 2px solid orange;*/
    height: 450px;
    border-radius: 7px;
    position: fixed;
    width: 270px;
}

.menu-secundario__contenido{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.menu-secundario__item{
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
}

.menu-secundario__item a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    transition: all 0.5s ease;
}

.menu-secundario__item a:hover{
    background-color: aqua;
}

/* Menu secundario INICIO*/

.info__cuerpo{
    padding: 30px;
    /* border: 2px solid orange; */
    font-size: 1.5em;
    background-color: var(--bodyBG);
    border-radius: 7px;
    box-shadow: -10px 0 40px rgb(0 0 0 / 7%);
    color: var(--fontColor);
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}

.info__titulo{
    font-size: 2em;
}

.info__sub-titulo{
    font-size: 1.6em;
}

.info__parrafo{
    font-size: 1.1em;
}

.info__articulo{
    line-height: 35px;
    font-size: 0.7em;
    text-align: justify;
    letter-spacing: 1.5px;
}
.info-ul__contenido, .info-ol__contenido{
    margin-left: 50px;
    padding: 10px 0px 10px 0px;
}





