@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');


:root {
    --menuBG: #252830;
    --backgroundColor: #efe9f4;
    --bodyBG: #ffffff;
    --fontColor: #131417;
    --fontColorMenu: #ffffff;
    --indiceColor: #131417;
    --fuenteParrafos: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    --fuenteTitulos: 'Heebo', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*#fddb30*/
    background-color: var(--bodyBG);
    font-family: var(--fuenteParrafos);
    color: var(--menuBG);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteTitulos);
}

.Pagina {
    display: grid;
    grid-template-areas:
        "menu"
        "inicio"
        "documentacion"
        "interes"
        "servicios";
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    text-align: center;
}

.menu {
    display: grid;
    grid-area: menu;
}

.inicio {
    display: grid;
    grid-area: inicio;
    height: 100vh;
}

.inicio__contenido {
    display: grid;
    grid-template-areas:
        "titulo"
        "subtitulo"
        "boton"
        "imagen";
    justify-items: center;
}

.inicio-titulo {
    grid-area: titulo;
}

.inicio-subtitulo {
    grid-area: subtitulo;
}

.inicio-boton {
    grid-area: boton;
}

.inicio-figura {
    grid-area: imagen;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}


.documentacion {
    display: grid;
    grid-area: documentacion;
    background-color: #131417;
}

.interes {
    grid-area: interes;
}

.interes__contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "titulo tarjeta1 tarjeta2"
        "titulo tarjeta3 tarjeta4";
    align-items: center;
    gap: 20px;
    padding: 20px 20px 20px 20px;
}

.interes__tarjeta1,
.interes__tarjeta2,
.interes__tarjeta3,
.interes__tarjeta4 {
    height: auto;
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
    border-radius: 6px;
    padding: 10px 0px 50px 0px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.interes__tarjeta1:hover,
.interes__tarjeta2:hover,
.interes__tarjeta3:hover,
.interes__tarjeta4:hover {
    background-color: var(--backgroundColor);
}


.interes__titulo {
    grid-area: titulo;
    font-size: 4em;
}

.interes__tarjeta1 {
    grid-area: tarjeta1;
}

.interes__tarjeta2 {
    grid-area: tarjeta2;
}

.interes__tarjeta3 {
    grid-area: tarjeta3;
}

.interes__tarjeta4 {
    grid-area: tarjeta4;
}

.tarjeta__titulo {
    font-size: 1.6em;
}

.tarjeta__descripcion {
    padding: 20px 20px 20px 20px;
}

.tarjeta__final {
    background-color: #252830;
    display: grid;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
}

.tarjeta__boton {
    color: var(--fontColorMenu);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: capitalize;
}

.servicios {
    display: grid;
    grid-area: servicios;
    padding: 15px;
    background-color: #ffff;
}

/*.explorar{
    grid-area: "explorar";
}

.footer{
    grid-area: "footer";
}
*/
.menu-navegacion__contenido {
    display: flex;
    justify-content: center;
    list-style: none;
    height: 80px;
    align-items: center;
    text-align: center;
}

.menu-navegacion__item {
    padding-left: 15px;
    text-align: center;
}

.menu-navegacion__item a {
    text-decoration: none;
    color: var(--menuBG);
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0px 10px 5px 10px;
}

.menu-navegacion__item a:hover {
    border-bottom: 2px solid #000;
}

.inicio__titulo {
    font-size: 4.5em;
}

.inicio__subtitulo {
    width: 50vw;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0px 0px 30px 0px;
}

.inicio__boton {
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: var(--fontColor);
    font-size: 1.4em;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: var(--backgroundColor);
}

.inicio__boton:hover {
    border: 2px solid rgb(231, 231, 231);
    background-color: rgb(231, 231, 231);
}

.inicio-figura__imagen {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    height: auto;
    width: 100%;
    max-width: 1200px;

}

.documentacion__contenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px;
    padding: 50px 0px 50px 0px;
    color: #efe9f4;
}

.documentacion__titulo {
    font-size: 3em;
}

.documentacion-tarjeta1,
.documentacion-tarjeta2 {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-row: auto;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.tarjeta1__contenido {
    text-align: end;
}

.tarjeta1__titulo,
.tarjeta2__titulo {
    font-size: 5em;
}

.tarjeta1__subtitulo,
.tarjeta2__subtitulo {
    font-size: 1.23em;
}

.tarjeta1__titulo,
.tarjeta1__subtitulo {
    text-align: start;
}

.tarjeta2__titulo,
.tarjeta2__subtitulo {
    text-align: end;
}



.video1 {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    height: auto;
}

/* .documentacion__imagen{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    width: 200px;
    height: auto;

}*/

.documentacion__imagen2 {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    width: 200px;
    height: auto;
}

.tarjeta2__contenido {
    text-align: start;
}

.servicios__titulo {
    padding: 20px;
    font-size: 3em;
}

.servicios-lista__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 20px;
}

.servicios-lista__contenido {
    display: grid;
    grid-template-areas:
    "logo texto";
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    height: 25vh;
    width: 80vh;
    border-radius: 6px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);

}

.logo{
    grid-area: logo;
}

.servicios-lista__texto{
    grid-area: texto;
}



@media only screen and (max-width: 400px) {

    * {
        margin: 0;
        padding: 0;
    }

    .grid {
        grid-template-areas:
            "titulo"
            "subtitulo"
            "imagen"
            "boton";
    }

    .menu-navegacion__contenido {
        justify-content: start;
    }

    .menu-navegacion__item a {
        font-size: 0.7em;
        padding: 0px
    }

    .inicio-figura {
        grid-area: subtitulo;
    }

    .inicio-titulo {
        grid-area: titulo;
    }

    .inicio-subtitulo {
        grid-area: boton;
    }

    .inicio-boton {
        grid-area: imagen;
        padding: 20px 0px 40px 0px;
    }

    .inicio__titulo {
        font-size: 3em;
    }

    .inicio__subtitulo {
        font-size: 1.5em;
        width: auto;
        padding: 10px;
    }

    .inicio-figura__imagen {
        width: 350px;
        height: 230px;

    }



}